<main>
        <div class="brew-info-cont">
            <h3 class="brew-name"></h3>
            <address class="brew-address">
                
            </address>
            <div class="phone"></div>
            <div class="website"></div>
            <div class="url"></div>
        </div>
        

        <div class="map" id="map" style="width:400px;height:400px;">
            
        </div>
        <div class="container">


        </div>
        <form class="new-comment-form">
    <div>
      <label for="comment-title">Tell Us about your experience:</label>
      <input type="text" id="comment-text" name="comment-text" />
    </div>
  </form>
</section>

    </main>

    <script src="/javascript/pub.js"></script>