<main>
        <div class="brew-info-cont">
            <h3 class="brew-name"></h3>
            <address class="brew-address">
                
            </address>
            <div class="phone"></div>
            <div class="website"></div>
            <div class="url"></div>
        </div>
        

        <div class="map" id="map" style="width:400px;height:400px;">
            
        </div>
        <div class="container">


        </div>
        <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

    </main>

    <script src="/javascript/pub.js"></script>