<main>
        <div class="brew-info-cont">
            <h3 class="brew-name"></h3>
            <address class="brew-address">
                
            </address>
            <div class="phone"></div>
            <div class="website"></div>
            <div class="url"></div>
        </div>
        

        <div class="map" id="map" style="width:400px;height:400px;">
            
        </div>
        <div class="container">


        </div>
  <form class="comment-form">
    <div>
      <textarea name="comment-body"></textarea>
    </div>

    <div>
      <button type="submit">add comment</button>
      <button type="button" class="upvote-btn">upvote</button>
    </div>
  </form>

  {{> comments comments}}

    </main>

    <script src="/javascript/pub.js"></script>
    <script src="/javascript/comment.js"